<div class="contenedor">
   <div class="cubo">
     <div class="tapa"></div>

   </div>
</div>


<div id="openModal" class="modalDialog">

	<div class="navegacion" id="nave">
		<a href="#close" title="Close" class="close">X</a>
    <nav>
      <ul>
      <a href="#">  <li> Nuestro Trabajo</li></a>
      <a href="#">  <li> Quienes somos</li></a>
        <a href="#"><li> Lunes Motivacional</li></a>
      </ul>
    </nav>
	</div>
</div>
<div class="link">
  <div class="logo ">
    <img src="/assets/img/logo.jpg" alt="">
  </div>
  <a href="#openModal" id="openMo">

    <div class="resp-menu active">

      <div class="despMen">
        </div>
      <div class="despMen">
    </div>


</div>
  </a>

</div>
