.contenedor{
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 300px;
   //perspective-origin: left;
  position: absolute;
  top: 150px;
  left: 150px;
  display: flex;
  justify-content: center;
  float: right;

}
.cubo {

  width: 200px;

  position: relative;
 background-color: red;
 animation: rotar 5s infinite linear;
 transform-style: preserve-3d;
}
.cubo div {

  position: absolute;
  opacity: 0.5;
  width: 198px;
  height: 198px;
  border: 2px solid;
   -webkit-border-radius: 50%;
  border-radius: 50%;
}

.tapa{
//  transform: rotateY(90deg) translateZ(100px);
background-image: url("/assets/img/sol.PNG");
//background: #F5F55C;
}

@keyframes rotar{
   from{
     transform: rotateY(0deg);
   }
   to{
     transform: rotateY(360deg);
   }
}


.link{
  float: right;
}
.despMen{
  height: 3px;
  right: 0;
  background-color: black;
  position: absolute;
  transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .3s, width .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s, left .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s, right .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s, transform .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;

}
.resp-menu > div:first-child {
  right: 0;
width: 100%;
}
.resp-menu > div:last-child {
    width: 67%;
    bottom: 0px;
    left: 33%;
}
.resp-menu{
    position: absolute;
    right: 4%;
    top: calc(2rem + 15px);
    width: 30px;
    height: 16px;
    cursor: pointer;
    z-index: 20;

}
.navegacion ul>a>li{
  list-style:none;
  color: black;
  font-family: sans-serif;
  font-size: 80px;

}

.navegacion ul>a{text-decoration: none;}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;

  color: black;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
  width: 95%;
  height: 100%;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
text-align: center;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
