.contenedor{
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 300px;
   //perspective-origin: left;
  position: absolute;
  top: 150px;
  left: 150px;
  display: flex;
  justify-content: center;
  float: right;

}
.cubo {

  width: 200px;

  position: relative;
 background-color: red;
 animation: rotar 5s infinite linear;
 transform-style: preserve-3d;
}
.cubo div {

  position: absolute;
  opacity: 0.5;
  width: 198px;
  height: 198px;
  border: 2px solid;
   -webkit-border-radius: 50%;
  border-radius: 50%;
}
.atras{
    background: #F5F55C;
  transform: rotateY(180deg) translateZ(-100px);

}
.cara{
  transform: translateZ(-100px);
  background: #F5F55C;
}
.izquierda{
  transform: rotateY(-90deg) translateZ(100px);
background: #F5F55C;
}
.derecha{
  transform: rotateY(90deg) translateZ(-100px);
background: #F5F55C;
}
.tapa{
  transform: rotateY(90deg) translateZ(100px);
background: #F5F55C;
}
.piso{
  transform: rotateY(90deg) translateZ(100px);
   background: #F5F55C;
}
@keyframes rotar{
   from{
     transform: rotateY(0deg);
   }
   to{
     transform: rotateY(360deg);
   }
}
