
.content-header{
  width: 100%;
  height: 400px;
  background-image: url("/assets/img/header.jpg");
  background-repeat: no-repeat;
  color: white;

}
.boton-explore{
  text-align: center;

}
.boton-explore a{
    text-decoration:none;
    color: white;
}
.content {

}
