@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  margin: 0px;
  padding: 0px;
}
body{
//  background-color: #e2e2e2;
 color: black;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}
