
.content{
  text-align: center;
  height: 200px;
  height: 200px;

}

li {
list-style:none;
color: black;
font-family: fantasy;
}


li img{
  width: 600px;
  height: 700px;

}
.oculto{
  
  display: none;
}
.btnwork {
    opacity: 1;
    color: black;
    height: 40px;
    width: 200px;
    border-radius: 20px;
  background-color: white;


}
.contentbtn{
  text-align: center;

}
